.header {
    margin-top: 40px;
    text-align: center;
}

.header__image {
    box-shadow: 5px 5px rgba(255, 255, 255, 0.238);
    border-radius: 10px;
    width: 200px;
}

.header__profession {
    color: #fff;
}